<header>
    <a class="siteName" href="/page"><%= site.name %></a>
<nav>
    <ul>
        <li><a href="/page">Forside</a></li>
        <li><a href="/page/Underside">Underside</a></li>
    </ul>
</nav>
</header>
