.siteName {
    font-size: 3em;
    text-decoration: none;
}
header {
    text-align: center;
}
nav, footer {
    background-color: black;
    color: white;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2em;
    list-style: none;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 2.1em;
}